/*

Color Scheme:
    Orange: #FF860F

Fonts:
    Headings:
        font-family: 'Nunito Sans', sans-serif;
    
    Paragraph:
        font-family: 'Nunito Sans', sans-serif;

*/

/* ====================================
        STARTERS
======================================= */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  background-color: #313030;
  color: white;
  line-height: 1.6;
}

img {
  max-width: 100%;
  height: auto;
}

/* ====================================
        LAYOUT
======================================= */

.carousel {
  margin-top: 3rem;
  max-width: 600px;
  position: relative;
  margin: 0 auto;
}

.carousel-item,
.carousel-item-hidden {
  display: none;
}

.carousel-item-visible {
  display: block;
  animation: fadeVisibility 0.5s;
}

@keyframes fadeVisibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.txt-over-img {
  position: absolute;
  text-align: center;
  width: 60%;
  margin-left: 3.5rem;
  top: 10%;
  left: 10%;
  font-size: 1.5rem;
  color: #ff860f;
  text-shadow: 1px 1px #212121;
  font-weight: 700;
}

.carousel {
  margin-top: 3rem;
}

.carousel-nav {
  display: flex;
  position: absolute;
  top: 85%;
  left: 44%;
  z-index: 99;
}

.carousel-nav-item {
  margin-left: 0.5rem;
  width: 0.7rem;
  height: 0.7rem;
  border: 2px solid white;
  border-radius: 50%;
}

.carousel-nav-item-visible {
  width: 0.7rem;
  height: 0.7rem;
  background: #ff860f;
  border-radius: 50%;
}

.carousel-actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#carousel-button-prev,
#carousel-button-next {
  cursor: pointer;
  border: 2px solid white;
  border-radius: 50%;
  color: white;
  background-color: #ff860f;
  width: 3rem;
  height: 3rem;
}

#carousel-button-prev {
  margin-left: 1rem;
}

#carousel-button-next {
  margin-right: 1rem;
}
